body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-image: url(/img/Background-Pattern.jpg);
    background-size: 100vw;
}

#Main {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

div {
    display: block;
}

#Left {
    order: 1;
    height: 100vw;
    backdrop-filter: blur(10px);
}

#LeftContent {
    color: black;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

#Left h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#SelfPic {
    background-image: url(/img/SelfImage-Dark.png);
    background-size: 500px;
}

#SelfPic img {
    width: 400px;
    margin-left: Auto;
    margin-right: Auto;
    padding: 1vw;
}

#Right {
    order: 2;
    padding: 1vw;
    align-content: center;
}

#RightContent {
    position: sticky;
    top: 5vw;
    padding: 1vw;
    background-color: rgba(123,110,107,.8);
}

#Right h2 {
    padding: .5em;
}

#Right p {
    margin: 100;
}